<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407125700666-fvf54tketr1lrtlkfff57gf8ap85rink.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407125700666-fvf54tketr1lrtlkfff57gf8ap85rink</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HIblgI-WkJsiVCO3n7LV-DF5lyCCjGk</string>
	<key>GCM_SENDER_ID</key>
	<string>407125700666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.Lodoos.Lodoos</string>
	<key>PROJECT_ID</key>
	<string>lodoos-a0ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>lodoos-a0ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407125700666:ios:682bfa4087bc1b5e2d4503</string>
</dict>
</plist>